/* tag formatting */
body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.6; /* sets line height to 1.6 */
}

div {
  padding: 15px;
}

/* main section of homepage */
.pokemon {
  max-width: 750px;
  margin: 0 auto;
}

.title {
  text-align: center;
}

/* adding flex box to webpage */
.grid {
  display: grid;
}

.grid__item {
  background-color: #FFA500;
}

.grid {
  /* display: grid; */
  grid-template-columns: 300px 300px 300px;
  grid-template-rows: auto auto;
}

/* start grid fallback */
.grid__item {
  display: inline-block;
  width: 100%;
  padding: 20px;
}

.page-container {
  margin-top: 70px;

}
